        <body>
        <div id="fb-root"></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    <script src="https://connect.facebook.net/en_US/all.js"></script>
    
    <script>
    $( document ).ready(function() {
        // $('#logoutBtn').hide();
        // $('#userDetails').hide();
    });

    function fbAsyncInit() {
        FB.init({
            appId      : '147262062522244',
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });
    }
    function logIn() {
        FB.login(
            function(response) {
                if (response.status== 'connected') {
                    FB.api('/me', function(response) {
                        console.log(response);
                        console.log('Good to see you, ' + response.name + '.');
                        $('#loginBtn').hide();
                        $('#logoutBtn').show();
                        $('#userDetails').show();
                        $('#userInfo').html(response.name);
                    });

                    FB.api('/me/friends', function(response) {
                        console.log('rocks',response);
                    });

                    // FB.api(
                    //     "/me/friends",
                    //     function (response) {
                    //       if (response && !response.error) {
                    //         /* handle the result */
                    //         console.log('amit',response.data);
                    //       }
                    //     }
                    // );                          

                    // FB.api("/me/picture?width=200&redirect=0&type=normal&height=200", function (response) {
                    //     if (response && !response.error) {
                    //          handle the result 
                    //         console.log('PIC ::', response);
                    //         $('#userPic').attr('src', response.data.url);
                    //     }
                    // });
                }
            }
        );
        
    }

   FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
    var uid = response.authResponse.userID;
    var accessToken = response.authResponse.accessToken;
    console.log(uid,accessToken);
      }

    function logOut() {
        FB.logout(function(response) {
            console.log('logout :: ', response);
            //Removing access token form localStorage.
            $('#loginBtn').show();
            $('#logoutBtn').hide();
            $('#userDetails').hide();
        });
    }

    fbAsyncInit();
    getLoginStatus();
      
    </script>

       <!--  <script>
        window.fbAsyncInit = function() {
                FB.init({
                appId: '147262062522244',
                status: true,
                cookie: true,
                xfbml: true
            });
            console.log('hiii');    
        };
        
        // Load the SDK asynchronously
        (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
        }(document));

        function login() {
            FB.login(function(response) {

            // handle the response
            console.log("Response goes here!");

            }, {scope: 'read_stream,publish_stream,publish_actions,read_friendlists'});            
        }

        function logout() {
            FB.logout(function(response) {
              // user is now logged out
            });
        }

        var status = FB.getLoginStatus();

        console.log(status);

        </script> -->

        <button id="loginBtn" onclick="logIn();">Login Facebook</button>

        <br>

        <button id="logoutBtn" onclick="logOut();">Logout from Facebook</button>


    </body>