

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="dns-prefetch" href="//hrcdn.net">
<link rel="dns-prefetch" href="//d3keuzeb2crhkn.cloudfront.net">
<link rel="dns-prefetch" href="//notifications.hackerrank.com">
<link rel="dns-prefetch" href="//api.mixpanel.com">
<link rel="dns-prefetch" href="//heapanalytics.com">
<link rel="dns-prefetch" href="//metrics.hackerrank.com">

<!-- Load promise polyfill for the non-believers -->
<!-- <script>
  window.Promise || document.write('<script src="https://hrcdn.net/hackerrank/assets/promise-polyfill/promise.min-6441a8739281da98ea4e511b5e96b7c2.js" type="text\/javascript"><\/script>');
</script> -->

<!-- Prefetch old assets -->

  <!-- <link rel="prefetch" href="https://hrcdn.net/hackerrank/assets/hackerrank-dcc3b93cd9c09913fed68ebe86024bd6.js"> -->

  <!-- <link rel="prefetch" href="https://hrcdn.net/hackerrank/assets/base-9c1fbd41eaf488758b4fbd25af7ffaee.js"> -->

  <!-- <link rel="prefetch" href="https://hrcdn.net/hackerrank/assets/hackerrank_libraries-12edbd78db7e275a9d204cff83bab6f8.js"> -->

<!-- Prefetch old assets end-->

<!-- preload scripts required on the same page -->

  <!-- <link rel="preload" as="script" href="https://hrcdn.net/hackerrank/assets/hackerrank_r_community-c5be673dbda14f26f182.js"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
<!-- preload scripts end -->

<link href="https://hrcdn.net/hackerrank/assets/hackerrank_libraries-b9d818d09dac5a02e22ba53622ae0db4.css" media="all" rel="stylesheet">

<link href="https://hrcdn.net/hackerrank/assets/hackerrank-core-e4770600ef9149004a36b432b6223ab3.css" media="all" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- <link href<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>="https://hrcdn.net/hackerrank/assets/dashboard-d5be922e6d6b7b974c0fb3de032b0ee8.css" media="all" rel="stylesheet"> -->


<!-- <link rel="stylesheet" type="text/css" href="https://hrcdn.net/hackerrank/assets/hackerrank_r_app-eeb90c8aef.css"> -->
<!-- <link rel="stylesheet" href="https://hrcdn.net/hackerrank/assets/hackerrank_r_community-fdeea7d00d.css"/> -->


<style type="text/css">

	h3{
		color: #ffffff;
		padding-top: 20px;
	}
</style>



<div class="page-header-wrapper" data-reactid="6">
   <nav class="page-header" data-reactid="7">
      <div class="container" data-reactid="8">
         <div class="nav-links header-nav-links" data-reactid="9">
            <ul class="pull-left nav-links-active" data-reactid="10">
               <li><h3><a style="color: #ffffff;" href="/">Movies ERA</a></h3></li>
               <li data-reactid="14"><a class="nav_link backbone domains active" data-analytics="NavBarDomains" href="/dashboard" data-reactid="15"><i class="icon-home" data-reactid="16"></i><span data-reactid="17">Home</span></a></li>
               <li data-reactid="18"><a class="nav_link backbone contests" data-analytics="NavBarContests" href="/contests" data-reactid="19"><i style="padding: 5px;" class="fa fa-thumbs-up" data-reactid="20"></i><span data-reactid="21">Recommendations</span></a></li>
               <li data-reactid="22"><a class="nav_link backbone" data-analytics="NavBarJobs" href="/jobs" data-reactid="23"><i class="icon-clock" data-reactid="24"></i><span data-reactid="25">Watchlist</span><i class="icon-circle js-jobs-notification navigation-highlight-icon hidden" data-reactid="26"></i></a></li>
               <li data-reactid="27"><a class="nav_link backbone" data-analytics="NavBarMyRank" id="myrank-nav-link" href="/rank" data-reactid="28"><i style="padding: 5px;" class="fa fa-users" data-reactid="29"></i><span data-reactid="30">Friends</span></a></li>
               <li data-reactid="31"><a class="nav_link backbone" data-analytics="NavBarLeaderboard" id="leaderboard-nav-link" href="/search" data-reactid="32"><i class="icon-search"></i><span data-reactid="34">Search</span></a></li>
            </ul>
         </div>
         <div style="margin-top: 15px;">
          <button class="pull-right btn btn-success">Logout</button>
        </div>
           <!-- </div> -->
      </div>
   </nav>
</div>

{% block content %}
{% endblock content %}