<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Create Assignment</title>
	<link rel="stylesheet" type="text/css">
</head>


<style>
	body {
		background: #e2e1e0;
		text-align: center;
	}
</style>

<body>
 
			<form method="POST" action="/register/">
				{% csrf_token %}
				{% for items in genrelist %}
				<p>
					<input type="checkbox" name="checks[]" value="{{items}}" id="{{items}}" />
					<label for="{{items}}">{{items.genre_name}}</label>
				</p>
				{% endfor %}
				<input style="background : #3273DC" type="submit" name="submit">
			</form>
		
</body>

</html>
